// layout //////////////////////////////////////////////////////////////////////////////////////////////////////////////
footer {
  bottom: 0;
  height: @footer-height;

  padding-top: 7px;
  padding-left: @basic-padding;
  padding-right: @basic-padding;

  border-top: 1px solid @table-border-color;
}

// mixins //////////////////////////////////////////////////////////////////////////////////////////////////////////////

// media-queries ///////////////////////////////////////////////////////////////////////////////////////////////////////
