// vars - ToDo vereinheitlichen und auslagern  /////////////////////////////////////////////////////////////////////////

// layout //////////////////////////////////////////////////////////////////////////////////////////////////////////////
footer {
  bottom: 0;
  height: @footer-height;

  padding-top: 7px;

  border-top: 1px solid @table-border-color;

  color: #444;
  text-shadow: 0 1px 0 #000;
}
// theme ///////////////////////////////////////////////////////////////////////////////////////////////////////////////

// mixins //////////////////////////////////////////////////////////////////////////////////////////////////////////////

// media-queries ///////////////////////////////////////////////////////////////////////////////////////////////////////
